body {
    background: url('../images/back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.game-panel {
    background-color: rgba(212, 237, 218, 0.9);
    margin-left: 10px;
    margin-right: 10px;
}